.App {
  max-width: 600px;
  margin: 77px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
}
.App a {
  color: #00ab9d;
  text-decoration: none;
}

.App a:hover {
  color: #00ab9d;
  text-decoration: underline;
}

.WeatherTemperature a {
  color: #00ab9d;
  text-decoration: none;
}

.WeatherTemperature a:hover {
  color: #00ab9d;
  text-decoration: underline;
}
