.App {
  max-width: 600px;
  margin: 77px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
}
.App a {
  color: var(--primary-color);
  text-decoration: none;
}

.App a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.WeatherTemperature a {
  color: var(--primary-color);
  text-decoration: none;
}

.WeatherTemperature a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

@media (max-width: 992px) {
  .App {
    max-width: 500px;
    max-height: 40px;
  }
}
